a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 3;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

*{
  font-family: -apple-system, Roboto, sans-serif;
}

body{
  background-color: black;
  color: white;
}

/* grid */
body{
  display: grid;
  grid-template-rows: auto fr;
  grid-auto-rows: minmax(100px, auto);
}
header{
  grid-row: 1/2;
}
#mn{
  grid-row: 2/3;
}
#ft{
  grid-row: 3/4;
}


.nav_main{
  position: fixed;
  z-index: 2;
  top:0;
  padding-top: 10vw;
  color:white;
  background-color: black;
  width: 100vw;
  padding-bottom: 8vw;
  text-align: center;
  font-weight: bolder;
  font-size: 6vw;
  letter-spacing: 1em;
  text-indent: 1em;
  text-transform: uppercase;
  text-decoration: none;
}
/* index page */
/* dropdown menu */
.nav_main:hover{
  text-decoration: underline;
}
.dropdown{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5vw;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
  text-transform: uppercase;
  position: fixed;
  z-index: 1;
  width: 100vw;
}
.dropbtn{
  width: 90vw;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 2;
  top: 14px;
}
.dropdown-content a {
  color: white;
  padding: 6vw 90vw 10vw 90vw;
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: bolder;
  /* border-top: 0.05vw solid white; */
}
.dropdown-content a:hover,.dropbtn a:hover{
  background-color: yellow;
  color: black;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* project overview box unit */
/* #content{
  margin-top:20vw;
} */
.overview-img{
  width:100%;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.bottom-left-words {
  padding-top: 6vw;
  background-color: rgb(94, 94, 94);
  text-align: left;
  height: 22vw;
  font-size: 6vw;
  margin-bottom: 6vw;
  letter-spacing: 1vw;
}
.bottom-left-words a{
  display: flex;
  flex-wrap: wrap;
  margin-left: 6vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 130%;
  text-decoration: none;
  color: white;
  width: 50vw;
}
/* .bottom-left-words>a:hover{
  color: blueviolet;
  text-decoration: underline;
} */
.bottom-right-words {
  position: absolute;
  bottom: 14vw;
  right: 6vw;
  text-align: right;
  /* width: 100vw; */
  height: 10vw;
  font-size: 2vw;
  letter-spacing: 0.4vw;
}
.bottom-right-words>pre{
  font-size: 3.6vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 160%;
}

/* career page */
#career{
  position: relative;
  /* top: 10vw; */
  width: 88vw;
  margin: 0 auto;
  text-align: center;
}
#title{
  font-size: 10vw;
  font-weight: 100;
  text-align: left;
}
.bio-img{
  width: 60vw;
}
.bio-content{
  text-align: justify;
  font-size: 5vw;
  font-family: 'Noto Serif', serif;
  text-justify: inter-word;
  line-height: 160%;
}
.date1, .date2, .date3{
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1vw;
  border-top: 0.2vw solid white;
}
.date{
  flex: 15%;
  font: 4vw Roboto light;
}
.awards-cnt{
  flex: 85%;
}
.awards-cnt>div{
  font: 4vw Roboto light;
  font-weight:lighter;
  line-height: 180%;
}

/* contact page */
#contact{
  position: relative;
  /* top: 10vw; */
  width: 88vw;
  margin: 0 auto;
  text-align: center;
}
.title-info{
  font-size: 10vw;
  font-weight: 100;
  text-align: center;

}
.center-1>div,.center-2,.name{
  font-size: 5vw;
  font-family: 'Noto Serif', serif;
  line-height: 180%;
}
.changcr{
  color: yellow;
}
/* .center-1{
  padding-top: 4vw;
  border-top: 0.2vw solid rgb(176, 176, 176);
} */
.center-2{
  padding-top: 1vw;
}
.name{
  padding-top: 10vw;
  border-top: 0.2vw solid rgb(176, 176, 176);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-between;
  line-height: 280%;
}
textarea{
  color: rgb(220, 220, 220);
  border: none;
  border-radius: 4px;
  margin-bottom: 6vw;
  margin-top: 2vw;
  min-height: 4vw;
  padding-top: 2vw;
  font-size: 3vw;
}
textarea:hover{
  border: 10px solid white;
  font-size: 120%;
}
.input{
  text-align: end;
  /* margin-bottom: 100px; */
}
#inputt1,#inputt2{
  background-color: rgb(106, 106, 106);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 5vw;
  font-family: 'Noto Serif', serif;
}
#inputt1{
  width: 20%;
}
#inputt2{
  width: 40%;
}
#inputt1:hover,#inputt2:hover{
  background-color: white;
  color: black;
}
/* work-detail */
#detail{
  position: relative;
  /* top: 10vw; */
  margin: 0 auto;
  text-align: left;
}
#taste, #Chessnet, #xbank{
  font-size: 12vw;
  font-weight: 100;
  text-align: left;
  text-transform: capitalize;
  margin-left: 6vw;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 0.08em;
  line-height: 120%;
}
.title{
  font-size: 4vw;
  font-weight: 300;
  margin: 8vw 6vw 10vw 6vw;
  letter-spacing: 0.08em;
  line-height: 1.4em;
}
.detail-img{
  width: 100vw;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.1s ease-in-out;
}
#text{
  font-size: 5vw;
  font-family: 'Noto Serif', serif;
  margin: 8vw 6vw;
  text-align: justify;
  /* letter-spacing: 0.4vw; */
  text-justify: inter-word;
  line-height: 160%;
}
#subtitle{
  font-size: 5vw;
  font-family: 'Noto Serif', serif;
  text-align: center;
  margin: 4vw auto 2vw auto;
}
video{
  width: 100vw;
}


/* modal */
.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content{
  margin: auto;
  display: block;
  margin-left: -40vw;
  margin-top: 30vw;
  transform: rotate(90deg);
  width: 180%;
}
/* #caption{
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
} */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.5s;
  animation-name: zoom;
  animation-duration: 0.5s;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(0.56)}
}
@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(0.56)}
}

.close {
  position: absolute;
  bottom: 150px;
  right: 35px;
  color: #a0079b;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 5; /* Sit on top */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* modal */
#horizontal{
  display: none;
}
#tablet{
  display: none;
}

/* footer */
#footer{
  position: relative;
  /* bottom: -40vw; */
  font-size: 2vw;
  font-weight: 100;
  letter-spacing: 0.1vw;
  word-spacing: 0.6vw;
  line-height: 160%;
  text-align: center;
  margin-top: 10vw;
  margin-bottom: 3vw;
  color: rgb(186, 186, 186);
}


@media all and (min-width: 768px){
  #tablet{
    display: inline;
  }
  .dropdown{
    display: none;
  }
  #content{
    display: none;
  }
  #horizontal{
    width: 100vw;
    display: flex;
    position: fixed;
    z-index: 2;
    color: white;
    /* margin-top: 3vw;
    margin-bottom: 3vw; */
    padding: 3vw 0;
    top: 0;
    right: 0;
    flex-direction: row-reverse;
    background-color: rgba(0,0,0,0.85);
  }
  #horizontal li{
    text-decoration: none;
    font-size: 32px;
    text-transform: uppercase;
  }
  #horizontal a{
    color: white;
  }
  .pg{
    padding-right: 60px;
  }
  #horizontal a:hover{
    font-weight: lighter;
    color: rgb(133, 255, 227);
    cursor:ne-resize;
  }

  #tablet{
    position: relative;
  }
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("../img/work-xbank/images-01.png");
    min-height: 60vw;
  }
  
  .bgimg-2 {
    background-image: url("../img/work-chessnet/images-01.png");
    min-height: 60vw;
  }
  
  .bgimg-3 {
    background-image: url("../img/work-taste/cover.png");
    min-height: 60vw;
  }
  
  .bgimg-4 {
    background-image: url("../img/work-pet/images-01.png");
    min-height: 60vw;
  }
  
  .caption {
    position: absolute;
    left: 80%;
    top: 80%;
    color: #000;
    background-color: transparent;
    perspective: 1000px;
  }
  .flip{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    
  }
  .caption:hover .flip{
    transform: rotateX(90deg)translateY(-30px);
  }
  .border-front, .border-back{
    display: flex;
    position: absolute;
    width: 140px;
    height: 60px;
    border: 0;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.35);
    border-radius: 6px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    align-items: center;
    justify-content: center;
  }
  .border-front{
    background-color: rgb(255, 255, 255);
  }
  .border-back{
    background-color: rgb(68, 47, 111);
    /* -webkit-transform: rotateX(-90deg)translateZ(100px)translateY(100px); */
    transform: rotateX(-90deg)translateZ(30px)translateY(30px);
  }
  .border-front a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
  }
  .border-back a{
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  /* .title{
    display: flex;
    position: absolute;
    width: 100vw;
    top: 10vw;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 1;
    font-size: 6vw;
  } */
  #detail{
    position: relative;
    /* top: 20vw; */
    /* width: 88vw; */
    /* margin: 0 auto; */
    text-align: left;
    margin-top: 4vw;
  }
  #taste, #Chessnet, #xbank{
    font-size: 10vw;
    font-weight: 100;
    text-align: left;
    text-transform: capitalize;
    margin-left: 6vw;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 0.08em;
    line-height: 120%;
  }
  .title{
    font-size: 2.5vw;
    font-weight: 300;
    margin: 6vw 6vw 8vw 6vw;
    letter-spacing: 0.08em;
  }
  .detail-img{
    width: 100vw;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.1s ease-in-out;
  }
  #text{
    font-size: 2.5vw;
    font-family: 'Noto Serif', serif;
    margin: 6vw 6vw;
    text-align: justify;
    /* letter-spacing: 0.4vw; */
    text-justify: inter-word;
    line-height: 160%;
  }
  #subtitle{
    font-size: 2.5vw;
    font-family: 'Noto Serif', serif;
    text-align: center;
    margin: 4vw auto 2vw auto;
  }
  video{
    width: 100vw;
  }
  #contact, #career{
    top: 10vw;
    display: flex;
    flex-direction: column;
  }
  .bio{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
  }
  .bio-img{
    width: 40vw;
    position: relative;
    display: float;
    float: right;
    top: 6vw;
    margin-left: 2vw;
    bottom: 2vw;
  }
  .bio-content{
    font-size: 4vw;
    word-break: break-all;
  }
  .awards-cnt>div{
    font: 3.5vw Roboto light;
    font-weight:lighter;
    line-height: 180%;
  }
  .awards{
    position: relative;
    top: 5vw;
  }
  .container{
    position: relative;
    top: 5vw;
    margin-bottom: 300px;
  }

  /* works */
  .works-title{
    margin-top: 15vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 300px;
  }
  .works-title a{
    text-decoration: none;
    color: white;
    font-size: 8vw;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 0.08em;
    line-height: 120%;
    margin-bottom: 3vw;
  }
  .works-title a:hover{
    /* cursor: e-resize; */
    text-decoration: line-through;
  }

  #footer{
    position: relative;
    /* bottom: -40vw; */
    font-size: 2vw;
    font-weight: 100;
    letter-spacing: 0.1vw;
    word-spacing: 0.6vw;
    line-height: 160%;
    text-align: center;
    margin-top: 10vw;
    margin-bottom: 3vw;
    color: rgb(186, 186, 186);
  }
  
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: scroll;
  }













